ul {
  list-style-type: none;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform linear 0.1s;
}
.gallery-image:hover {
  transform: scale(1.05);
}
